# Ignore executable
my_project

# Ignore object files
*.o

# Ignore dependency files
*.d

# Ignore editor/IDE specific files
*.swp
*.swo
*.user
.vscode/
*.code-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore build directories
build/
